doctype html
html(manifest="cache.manifest")
   head
      title Index
   body
      h1 Index Page
      p Test content
      p: a(href="main.html") Main
      p: a(href="secondary.html") Secondary